*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body{
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

/* header */
header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
}

header i{
    background-color: rgb(73, 73, 73);
    padding: 6px 5px;
    border-radius: 5px;
    cursor: pointer;
}
header i>span{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;

}
header i:first-child{
    margin-right: 5px;
}
/* main */
main{
     /* height: 100% */
     height: calc(100vh - 180px); /*view height - il tot di footer + header + margini*/
}
.gallery{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* overflow: auto; funziona sia cosi che con -y */
    overflow-y: auto;
    /* height: 1000px; */
    height: 100%;
}

.user{
    height: 150px;
    /* width: 100%; */
    width: calc(100% / 6);
    position: relative;
    border: 3px solid black;
}

.user>span{ /*span microfono*/
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3px 1px;
}
.user img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

/* footer */

footer{
    height: 100px;
}


/*debug*/
.debug footer{
    border:1px solid white;

}