*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body{
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

/* header */
header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header i{
    background-color: rgb(73, 73, 73);
    padding: 6px 5px;
    border-radius: 5px;
}
header i>span{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;

}


/*debug*/
.debug header{
    border:1px solid white;

}